#titulo {
  text-shadow: 15px 15px hotpink;
  text-transform: uppercase;
}

#linea1 {
  background-color: yellow;
}

#linea2 {
  color: green;
}

.linea3y4 {
  background-color: black;
  color: white;
}

.linea5y6 {
  color: blue;
}

#linea7 {
  text-shadow: 10px 10px pink;
  font-size: 25px;
}
